.container {
    margin-top: 50px;
}

.link {
    margin-left: 1050px;
}

.radiobutton {
    margin-left: 500px;
    margin-bottom: 50px;
}

.csv {
    margin-left: 1150px;
}

.balance {
    margin-left: 1050px
}